@import "tailwindcss";
/* Fond global */
html, body, #root {
  height: 100%;
}

body {
  background-image: url("./assets/images/image-fond.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; /* optionnel */
}
